<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property ="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="http://refugeesurvey.com/graphic1.html"/>
    <meta property="og:title" content="1in every 122 people is either a refugee, internally displaced or seeking asylum"/>
    <meta property="og:description" content="1in every 122 people is either a refugee, internally displaced or seeking asylum"/>
    <meta property="og:image" content="http://refugeesurvey.com/images/graphic3.jpg"/>
    <meta property="twitter:site" content="@UNRefugeeAgency"/>
    <meta property="twitter:creator" content="@UNRefugeeAgency" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>1in every 122 people is either a refugee, internally displaced or seeking asylum</title>
    <%= javascript_include_tag :graphic, :async => true %>
  </head>

  <body class="<%= page_classes %>">
    <h1>1in every 122 people is either a refugee, internally displaced or seeking asylum</h1>
    <img src="/images/graphic3.jpg">
  </body>