<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property ="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="http://refugeesurvey.com/graphic1.html"/>
    <meta property="og:title" content="Only 1 in 2 refugee children is in primary school"/>
    <meta property="og:description" content="Only 1 in 2 refugee children is in primary school"/>
    <meta property="og:image" content="http://refugeesurvey.com/images/graphic1.jpg"/>
    <meta property="twitter:site" content="@UNRefugeeAgency"/>
    <meta property="twitter:creator" content="@UNRefugeeAgency" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Only 1 in 2 refugee children is in primary school</title>
    <%= javascript_include_tag :graphic, :async => true %>
  </head>

  <body class="<%= page_classes %>">
    <h1>Only 1 in 2 refugee children is in primary school</h1>
    <img src="/images/graphic1.jpg">
  </body>